body
{
    background-size: stretch;
    background-position: center;
    text-align: center;
}

.heading
{
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    font-size: 30px;
    margin: 0px;
}

.heading_tag
{
    font-size: 20px;
    float: none;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    background: white;
    color: black;
    padding: 10px;
    margin-top: 20px;
}

.obj{
 font-size: 18px;
 margin-top: 5px;
 margin-bottom: 5px;
}

.result_tag
{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    margin-top: 3px;
}

#copyright_footer
{
    width: 100%;
    line-height: 3;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: grey;
    text-align: center;
    font-weight: bold;
}

canvas
{
    border-radius: 20px;
    margin-top: 23px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {border: 5px solid red;}
    to {border: 5px solid rgb(21, 4, 119);}

    from {box-shadow: 5px 5px 5px red;}
    to {box-shadow: 5px 5px 5px rgb(21, 4, 119);}
}